<div class="ultimate-container">
  <div class="recipe-container">
    <h1>Please create an account or login to view our recipes</h1>
    <form action="users/signup" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Sign up</button>
    </form>
    <a href="/recipes/"><button>Check our recipes!</button></a>
  </div>
</div>